schema/specification-schema-0.2.xml

<!-- Relax NG schema for specification version 0.2. Please do not
     change schema except to improve it. In case of incompatible
     changes to the specification, please increase specification
     version number and create a new schema.
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <element name="freecol-specification">
      <interleave>
        <zeroOrMore>
          <ref name="goods-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="resource-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="tile-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="equipment-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="tileimprovement-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="improvementaction-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="unit-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="building-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="founding-fathers"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="nation-types"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="nations"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="difficultyLevels"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="options"/>
        </zeroOrMore>
      </interleave>
    </element>
  </start>

  <define name="goods-types">
    <element name="goods-types">
      <oneOrMore>
        <element name="goods-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="art">
            <data type="string"/>
          </attribute>
          <optional>
            <attribute name="is-farmed">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="ignore-limit">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="is-food">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="made-from">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="storable">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="stored-as">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="new-world-goods">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="trade-goods">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="player-accumulated">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="breeding-number">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="price">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <element name="market">
              <attribute name="initial-amount">
                <data type="nonNegativeInteger"/>
              </attribute>
              <attribute name="initial-price">
                <data type="nonNegativeInteger"/>
              </attribute>
              <attribute name="price-difference">
                <data type="nonNegativeInteger"/>
              </attribute>
            </element>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="resource-types">
    <element name="resource-types">
      <zeroOrMore>
        <element name="resource-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <optional>
            <attribute name="minimum-value">
              <data type="nonNegativeInteger"/>
            </attribute>
            <attribute name="maximum-value">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <zeroOrMore>
            <ref name="modifier"/>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="tile-types">
    <element name="tile-types">
      <oneOrMore>
        <element name="tile-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="basic-move-cost">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="basic-work-turns">
            <data type="nonNegativeInteger"/>
          </attribute>
          <optional>
            <attribute name="is-forest">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="is-water">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="no-river">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="can-settle">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="sail-to-europe">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="secondary-goods">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <interleave>
            <optional>
              <ref name="modifier"/>
            </optional>
            <optional>
              <element name="gen">
                <attribute name="humidityMin">
                  <data type="int"/>
                </attribute>
                <attribute name="humidityMax">
                  <data type="int"/>
                </attribute>
                <attribute name="temperatureMin">
                  <data type="int"/>
                </attribute>
                <attribute name="temperatureMax">
                  <data type="int"/>
                </attribute>
                <attribute name="altitudeMin">
                  <data type="int"/>
                </attribute>
                <attribute name="altitudeMax">
                  <data type="int"/>
                </attribute>
              </element>
            </optional>
            <optional>
              <element name="art">
                <attribute name="basic">
                  <data type="string"/>
                </attribute>
                <attribute name="minimap-color">
                  <data type="string"/>
                </attribute>
                <optional>
                  <attribute name="forest">
                    <data type="string"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="overlay">
                    <data type="string"/>
                  </attribute>
                </optional>
              </element>
            </optional>
            <optional>
              <element name="skirmish">
                <attribute name="defence-factor">
                  <data type="int"/>
                </attribute>
              </element>
            </optional>
            <optional>
              <element name="resource">
                <attribute name="type">
                  <data type="IDREF"/>
                </attribute>
                <attribute name="probability">
                  <data type="nonNegativeInteger"/>
                </attribute>
              </element>
            </optional>
            <zeroOrMore>
              <element name="production">
                <attribute name="goods-type">
                  <data type="IDREF"/>
                </attribute>
                <attribute name="value">
                  <data type="nonNegativeInteger"/>
                </attribute>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="equipment-types">
    <element name="equipment-types">
      <zeroOrMore>
        <element name="equipment-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <optional>
            <attribute name="combat-loss-priority">
              <data type="int"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="maximum-count">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="role">
              <choice>
                <value>default</value>
                <value>pioneer</value>
                <value>missionary</value>
                <value>soldier</value>
                <value>scout</value>
                <value>dragoon</value>
              </choice>
            </attribute>
          </optional>
          <interleave>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="required-ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="required-location-ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="required-goods"/>
            </zeroOrMore>
            <zeroOrMore>
              <element name="compatible-equipment">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </zeroOrMore>
    </element>
  </define>  

  <define name="tileimprovement-types">
    <element name="tileimprovement-types">
      <zeroOrMore>
        <element name="tileimprovement-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <optional>
            <attribute name="natural">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="add-work-turns">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="over-trees">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="overlay">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="occupation-string">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <group>
              <attribute name="expended-equipment-type">
                <data type="IDREF"/>
              </attribute>
              <attribute name="expended-amount">
                <data type="nonNegativeInteger"/>
              </attribute>
            </group>
          </optional>
          <optional>
            <group>
              <attribute name="deliver-goods-type">
                <data type="IDREF"/>
              </attribute>
              <attribute name="deliver-amount">
                <data type="nonNegativeInteger"/>
              </attribute>
            </group>
          </optional>
          <optional>
            <attribute name="magnitude">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="movement-cost">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <interleave>
            <optional>
              <element name="tiles">
                <optional>
                  <attribute name="all-land-tiles">
                    <data type="boolean"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="all-forest-tiles">
                    <data type="boolean"/>
                  </attribute>
                </optional>
              </element>
            </optional>
            <zeroOrMore>
              <element name="tile">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
                <optional>
                  <attribute name="value">
                    <data type="boolean"/>
                  </attribute>
                </optional>
              </element>
            </zeroOrMore>
            <choice>
              <oneOrMore>
                <ref name="modifier"/>
              </oneOrMore>
              <oneOrMore>
                <element name="change">
                  <attribute name="from">
                    <data type="IDREF"/>
                  </attribute>
                  <attribute name="to">
                    <data type="IDREF"/>
                  </attribute>
                </element>
              </oneOrMore>
            </choice>
          </interleave>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="improvementaction-types">
    <element name="improvementaction-types">
      <zeroOrMore>
        <element name="improvementaction-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="accelerator">
            <data type="string"/>
          </attribute>
          <oneOrMore>
            <element name="action">
              <attribute name="tileimprovement-type">
                <data type="IDREF"/>
              </attribute>
              <attribute name="name">
                <data type="string"/>
              </attribute>
              <attribute name="image-id">
                <data type="nonNegativeInteger"/>
              </attribute>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="unit-types">
    <element name="unit-types">
      <oneOrMore>
        <element name="unit-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="offence">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="defence">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="movement">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="lineOfSight">
            <data type="nonNegativeInteger"/>
          </attribute>
          <optional>
            <attribute name="skill">
              <data type="int"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="space">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="spaceTaken">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="price">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="hitPoints">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="recruitProbability">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="pathImage">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="expert-production">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="skillTaught">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="art">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="scoreValue">
              <data type="int"/>
            </attribute>
          </optional> 
          <optional>
            <attribute name="maximumAttrition">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional> 
          <optional>
            <attribute name="increasingPrice">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional> 
          <interleave>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="upgrade"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="downgrade"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="required-ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="required-goods"/>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="building-types">
    <element name="building-types">
      <zeroOrMore>
        <element name="building-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="workplaces">
            <data type="nonNegativeInteger"/>
          </attribute>
          <optional>
            <attribute name="basicProduction">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="produces">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="consumes">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="sequence">
              <data type="nonNegativeInteger"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="minSkill">
              <data type="int"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="maxSkill">
              <data type="int"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="upgradesFrom">
              <data type="IDREF"/>
            </attribute>
          </optional>
          <interleave>
            <zeroOrMore>
              <ref name="required-goods"/>
            </zeroOrMore>
            <optional>
              <element name="required-population">
                <attribute name="value">
                  <data type="nonNegativeInteger"/>
                </attribute>
              </element>
            </optional>
            <zeroOrMore>
              <ref name="required-ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
          </interleave>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="founding-fathers">
    <element name="founding-fathers">
      <zeroOrMore>
        <element name="founding-father">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="type">
            <choice>
              <value>exploration</value>
              <value>military</value>
              <value>political</value>
              <value>religious</value>
              <value>trade</value>
            </choice>
          </attribute>
          <attribute name="weight1">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="weight2">
            <data type="nonNegativeInteger"/>
          </attribute>
          <attribute name="weight3">
            <data type="nonNegativeInteger"/>
          </attribute>
          <interleave>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
            <zeroOrMore>
              <element name="event">
                <attribute name="id">
                  <data type="ID"/>
                </attribute>
                <optional>
                  <attribute name="value">
                    <data type="string"/>
                  </attribute>
                </optional>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="nation">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="nation-type">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="unit">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="upgrade">
                <attribute name="from-id">
                  <data type="IDREF"/>
                </attribute>
                <attribute name="to-id">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="nation-types">
    <element name="nation-types">
      <oneOrMore>
        <element name="european-nation-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <optional>
            <attribute name="ref">
              <data type="boolean"/>
            </attribute>
          </optional>
          <zeroOrMore>
            <ref name="ability"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="modifier"/>
          </zeroOrMore>
          <interleave>
            <zeroOrMore>
              <element name="unit">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
                <optional>
                  <attribute name="role">
                    <choice>
                      <value>default</value>
                      <value>pioneer</value>
                      <value>missionary</value>
                      <value>soldier</value>
                      <value>scout</value>
                      <value>dragoon</value>
                    </choice>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="mounted">
                    <data type="boolean"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="missionary">
                    <data type="boolean"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="tools">
                    <data type="nonNegativeInteger"/>
                  </attribute>
                </optional>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="indian-nation-type">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="number-of-settlements">
            <choice>
              <value>high</value>
              <value>low</value>
              <value>average</value>
            </choice>
          </attribute>
          <attribute name="aggression">
            <choice>
              <value>high</value>
              <value>low</value>
              <value>average</value>
            </choice>
          </attribute>
          <attribute name="type-of-settlement">
            <choice>
              <value>indian_camp</value>
              <value>indian_village</value>
              <value>inca_city</value>
              <value>aztec_city</value>
            </choice>
          </attribute>
          <interleave>
            <zeroOrMore>
              <ref name="ability"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="modifier"/>
            </zeroOrMore>
            <zeroOrMore>
              <element name="skill">
                <attribute name="id">
                  <data type="IDREF"/>
                </attribute>
                <attribute name="probability">
                  <data type="nonNegativeInteger"/>
                </attribute>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="region">
                <attribute name="id">
                  <data type="string"/>
                </attribute>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="nations">
    <element name="nations">
      <oneOrMore>
        <element name="nation">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <attribute name="nation-type">
            <data type="IDREF"/>
          </attribute>
          <attribute name="color">
            <data type="string"/>
          </attribute>
          <optional>
            <attribute name="selectable">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="anthem">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="monarch-art">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="coat-of-arms">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="classic">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="ref">
              <data type="string"/>
            </attribute>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="difficultyLevels">
    <element name="difficultyLevels">
      <oneOrMore>
        <element name="difficultyLevel">
          <attribute name="id">
            <data type="ID"/>
          </attribute>
          <interleave>
            <zeroOrMore>
              <element name="integerOption">
                <attribute name="id">
                  <data type="string"/>
                </attribute>
                <attribute name="value">
                  <data type="int"/>
                </attribute>
              </element>
            </zeroOrMore>
            <zeroOrMore>
              <element name="booleanOption">
                <attribute name="id">
                  <data type="string"/>
                </attribute>
                <attribute name="value">
                  <data type="boolean"/>
                </attribute>
              </element>
            </zeroOrMore>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="options">
    <element name="options">
      <interleave>
        <zeroOrMore>
          <ref name="integerOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="booleanOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="rangeOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <element name="optionGroup">
            <attribute name="id">
              <data type="string"/>
            </attribute>
            <interleave>
              <zeroOrMore>
                <ref name="integerOption"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="booleanOption"/>
              </zeroOrMore>
              <zeroOrMore>
                <ref name="rangeOption"/>
              </zeroOrMore>
            </interleave>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="integerOption">
    <element name="integerOption">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <attribute name="defaultValue">
        <data type="int"/>
      </attribute>
      <attribute name="minimumValue">
        <data type="int"/>
      </attribute>
      <attribute name="maximumValue">
        <data type="int"/>
      </attribute>
    </element>
  </define>

  <define name="booleanOption">
    <element name="booleanOption">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <attribute name="defaultValue">
        <data type="boolean"/>
      </attribute>
    </element>
  </define>

  <define name="rangeOption">
    <element name="rangeOption">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <attribute name="defaultValue">
        <data type="nonNegativeInteger"/>
      </attribute>
      <optional>
        <attribute name="localizedLabels">
          <data type="boolean"/>
        </attribute>
      </optional>
      <oneOrMore>
        <element name="rangeValue">
          <attribute name="label">
            <data type="string"/>
          </attribute>
          <attribute name="value">
            <data type="nonNegativeInteger"/>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="ability">
    <element name="ability">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="value">
          <data type="boolean"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="scope"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="modifier">
    <element name="modifier">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <attribute name="type">
        <choice>
          <value>additive</value>
          <value>multiplicative</value>
          <value>percentage</value>
        </choice>
      </attribute>
      <attribute name="value">
        <data type="float"/>
      </attribute>
      <optional>
        <attribute name="source">
          <data type="string"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="scope"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="scope">
    <element name="scope">
      <choice>
        <attribute name="type">
          <data type="IDREF"/>
        </attribute>
        <group>
          <attribute name="ability-id">
            <data type="string"/>
          </attribute>
          <optional>
            <attribute name="ability-value">
              <data type="boolean"/>
            </attribute>
          </optional>
        </group>
        <group>
          <attribute name="method-name">
            <data type="string"/>
          </attribute>
          <optional>
            <attribute name="method-value">
              <data type="string"/>
            </attribute>
          </optional>
        </group>
      </choice>
    </element>
  </define>

  <define name="required-ability">
    <element name="required-ability">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="value">
          <data type="boolean"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="required-location-ability">
    <element name="required-location-ability">
      <attribute name="id">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="value">
          <data type="boolean"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="required-goods">
    <element name="required-goods">
      <attribute name="id">
        <data type="IDREF"/>
      </attribute>
      <optional>
        <attribute name="value">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="upgrade">
    <element name="upgrade">
      <attribute name="unit">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="learnFromNatives">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="learnFromExperience">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="learnInLostCity">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="learnInSchool">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="promotion">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="turnsToLearn">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="downgrade">
    <element name="downgrade">
      <attribute name="unit">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="capture">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="demotion">
          <data type="boolean"/>
        </attribute>
      </optional>
    </element>
  </define>

</grammar>
